#header{
width:auto;
margin-top:5px;
height:100px;
padding:5px;
background:#9999FF;
}
#leftbar{
padding:5px;
height:200px;
width:450px;
float:left;
background:#9933FF;
}
#content{
padding:5px;
height:200px;
float:left;
width:450px;
background:#999999;
}
#rightbar{
padding:5px;
float:right;
height:200px;
width:420px;
background:#9933FF;
}
#footer{
padding:5px;
height:50px;
text-align:center;
background:#CCFFFF;
clear:both;
}